@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('CormorantGaramond-400-italic-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('CormorantGaramond-400-italic-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('CormorantGaramond-400-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('CormorantGaramond-400-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('CormorantGaramond-500-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('CormorantGaramond-500-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('CormorantGaramond-600-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('CormorantGaramond-600-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('Jost-300-italic-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('Jost-300-italic-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('Jost-300-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('Jost-300-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Jost-400-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Jost-400-latin.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Jost-500-latin-ext.woff2') format('woff2');
  
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Jost-500-latin.woff2') format('woff2');
  
}
